# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
DerivedData/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Misc
audio-processing/
.cache/
